<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="/css/auth.css" />
  </head>
  <body>
    <header
      class="header"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="partials/global/global.header.partial.html"
    ></header>

    <section
      class="login"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="login.partial.html"
    ></section>

    <section
      class="registration"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="partials/registration.partial.html"
    ></section>

    <footer
      class="footer"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>

    <script>
      document.body.addEventListener("htmx:load", function (evt) {
        import("/js/register.js");
        import("/js/login.js")
      });
    </script>
  </body>
</html>
