<section class="registration">
  <form action="" class="registration-form" id="register-form">
    <div class="form__text">
      <h1 class="form__title">Register</h1>
      <p class="form__description">
        Please fill in this form to create an account.
      </p>
    </div>

    <input
      type="text"
      class="form__input"
      placeholder="Enter your nickname"
      name="nickname"
      id="nickname"
    />
    <input
      type="text"
      class="form__input"
      placeholder="Enter your e-mail"
      name="email"
      id="email"
    />
    <input
      type="text"
      class="form__input"
      placeholder="Enter your password"
      name="password"
      id="password"
    />
    <input
      type="text"
      class="form__input"
      placeholder="Repeat the password"
      name="psw_repeat"
      id="psw_repeat"
    />
    <div class="form__submit-block">
      <button type="submit" class="form__submit">Submit</button>
      <a href="./login.partial.html" class="login-link">Already have an account?</a>
    </div>
  </form>
</section>
