:root{
    overflow: hidden;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    min-height: 100vh;
    background: azure fixed;
    width: 100vw;
    padding: 0;
}

.login-form{
    box-shadow: 0 10px 30px var(--color-text-muted);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 3em;
    border-radius: 2em;
    background-color: white;
    justify-content: center;
}

.form__title{
    font-size: 2em;
    padding:0.5em;
}

.form__text{
    margin-bottom: 2em;
}

.form__input{
    margin: 1em 0 1em 0;
    padding: 1em;
    width: 30em;
    border-radius: 0.8em;
    border: 1.5px solid var(--color-text-muted);
    font-family: 'Inter';
    transition: border 0.3s ease;
}

.form__input:focus{
    border: 1px solid #7f7f7f;
    outline: none;
}

.form__submit{
    margin: 1em 0 0 0;
    border-radius: 0.8em;
    border: none;
    background-color: var(--color-primary);
    padding: 1em;
    width: 20em;
    font-family: 'Inter';
    font-weight: var(--font-weight-semi-bold);
    color: #ffffff;
    font-size: 1em;
    transition: background 0.6s ease;
}

.form__submit:hover{
    background-color: var(--color-primary-dark);
}

.form__submit-block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-link{
    text-decoration: none;
    color: var(--color-text-semi-muted);
    margin-top: 1em;
}